---
component: banner
---
<header class="masthead">
	<div class="masthead-container">
		<a href="/">
			<h1 class="brand">
				<div class="logo-small">
					{{> logoSmall }}
				</div>
				<div class="logo-large">
					{{> logoLarge }}
				</div>
			</h1>
		</a>
		<nav class="access">
			<ul class="access-container">
				<li class="access-item">
					<a href="#js-banner" class="access-link">Home</a>
				</li>
				<li class="access-item">
					<a href="#js-case-studies" class="access-link">Kunden</a>
				</li>
				<li class="access-item">
					<a href="#js-contact" class="access-link">Kontakt</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
