---
component: banner
---
<header id="js-banner" class="banner">
	<div class="banner-container">
		<a href="#js-main">
			<h1 class="banner-brand">
				<div class="banner-logo-small">
					{{> bannerLogoSmall }}
				</div>
				<div class="banner-logo-large">
					{{> bannerLogoLarge }}
				</div>
			</h1>
		</a>
		<nav class="banner-nav">
			<ul class="banner-nav-container">
				<li class="banner-nav-item">
					<a href="#js-main" class="banner-nav-item-link">Home</a>
				</li>
				<li class="banner-nav-item">
					<a href="#js-projects" class="banner-nav-item-link">Projekte</a>
				</li>
				<li class="banner-nav-item">
					<a href="#js-contact" class="banner-nav-item-link">Kontakt</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
