---
component: cards
---
<section class="cards">
  <h1 class="card-title">Was wir bieten</h1>
  <div class="card-container">
    <section class="card">
      {{> flakeIcon}}
      <h2 class="card-heading">
        Handgefertigte Lösungen
      </h2>
      <p class="card-description">
        Alles wird speziell auf Sie zugeschnitten, damit die Bedienung so einfach wie möglich ist. Wir modifizieren keine vorgefertigten Templates.
      </p>
    </section>
    <section class="card card-large">
      {{> globeIcon}}
      <h2 class="card-heading">
        UX-Fokussierte Gestaltung
      </h2>
      <p class="card-description">
        Webseiten wollen benutzt werden. Unsere Designs
      </p>
    </section>
    <section class="card card-large">
      {{> searchIcon}}
      <h2 class="card-heading">
        Komplett- und Teillösungen
      </h2>
      <p class="card-description">
        Konzept, Design, Umsetzung, Pflege: Wenn Sie möchten, kommt bei uns alles aus einer Hand.
      </p>
    </section>
    <section class="card">
      {{> devicesIcon}}
      <h2 class="card-heading">
        Strategisches Development
      </h2>
      <p class="card-description">
        Wir behalten den Überblick. Unsere Offerten basieren auf. Dazu gehört auch, dass wir
      </p>
    </section>
    <section class="card">
      {{> ropeIcon}}
      <h2 class="card-heading">
        Iteratives Arbeiten
      </h2>
      <p class="card-description">
        Webseiten und Webapps können im Gegensatz zu Printprodukten iterativ gestaltet werden. Was ist das Wichtigste
      </p>
    </section>
    <section class="card">
      {{> devicesIcon}}
      <h2 class="card-heading">
        Reponsive Design
      </h2>
      <p class="card-description">
        Mehr als nur ein Design fürs iPhone: Alle unsere Produkte sind von Grund auf <em>mobile first</em> konzipiert.
        Man kann es sich nicht mehr erlauben, das Design für Mobilgeräte als
      </p>
    </section>
    <section class="card">
      {{> rocketIcon}}
      <h2 class="card-heading">
        Moderne Technologie
      </h2>
      <p class="card-description">
        Wir gehen weite Wege, um mit den besten Tools und Technologien zu arbeiten. Wir bieten Apps in Meteor, Angular, Assemble und WordPress-CMS-Lösungen. Alles optimiert via Gulp oder Webpack.
      </p>
    </section>
    <section class="card">
      {{> rocketIcon}}
      <h2 class="card-heading">
        Kein Lock-in Effekt
      </h2>
      <p class="card-description">
        Wir gehen weite Wege, um mit den besten Tools und Technologien zu arbeiten. Wir bieten Apps in Meteor, Angular, Assemble und WordPress-CMS-Lösungen. Alles optimiert via Gulp oder Webpack.
      </p>
    </section>
  </div>
</section>
