---
component: cards
---
<div class="cards">
    <section class="card">
      {{> ropeIcon}}
      <h2 class="card-heading">
        Zusammen erarbeitet:
      </h2>
      <p class="card-description">
        Wir haben Freude an der Kollaboration (und sind überzeugt, dass es zusammen besser geht).
      </p>
    </section>
    <section class="card">
      {{> flakeIcon}}
      <h2 class="card-heading">
        Speziell angefertigt:
      </h2>
      <p class="card-description">
        Handgemachtes, minimalistisches, typographie-orientiertes Design: Inspiriert von dem, was Sie zu sagen haben.
      </p>
    </section>
    <section class="card card-large">
      {{> globeIcon}}
      <h2 class="card-heading">
        Rundum versorgt:
      </h2>
      <p class="card-description">
        Konzept, Design, Umsetzung, Pflege: Wenn Sie möchten, kommt bei uns alles aus einer Hand.
      </p>
    </section>
    <section class="card card-large">
      {{> searchIcon}}
      <h2 class="card-heading">
        Suchmaschinenoptimiert:
      </h2>
      <p class="card-description">
        Konzept, Design, Umsetzung, Pflege: Wenn Sie möchten, kommt bei uns alles aus einer Hand.
      </p>
    </section>
    <section class="card">
      {{> devicesIcon}}
      <h2 class="card-heading">
        Rundum versorgt:
      </h2>
      <p class="card-description">
        Konzept, Design, Umsetzung, Pflege: Wenn Sie möchten, kommt bei uns alles aus einer Hand.
      </p>
    </section>
    <section class="card">
      {{> rocketIcon}}
      <h2 class="card-heading">
        Zukunftssicher:
      </h2>
      <p class="card-description">
        Wir gehen weite Wege, um mit den neuesten, schnellsten Tools und Technologien zu arbeiten.
      </p>
    </section>
</div>
