
  <section class="card">
    <div class="card-block">
      <h4 class="card-title">{{title}}</h4>
      <h6 class="card-subtitle text-muted">Darum gehts</h6>
    </div>
    <div class="card-block">
      <p class="card-text">Hier sind einige <em>bullet points</em>, die unser Angebot genauer erklären.</p>
      <a href="#" class="card-link">Mehr erfahren</a>
    </div>
  </section>
