---
component: cards
---
<section class="cards">
  <h1 class="card-title section-title">
    Wie wir arbeiten
    <div class="section-subheading">Starke Prinzipien für starke Webseiten</div>
  </h1>
  <div class="card-container">
    <section class="card card-flake">
      <header class="card-header">
        {{> flakeIcon}}
        <h2 class="card-heading">
          Fertige deine Lösungen<br>von Hand
        </h2>
      </header>
      <p class="card-graf">
        Alles wird individuell auf Sie zugeschnitten, damit die Bedienung so einfach wie möglich bleibt. Das heisst auch, dass wir nur soviel entwickeln wie nötig.
      </p>
    </section>
    <section class="card card-large card-diamond">
      <header class="card-header">
        {{> diamondIcon}}
        <h2 class="card-heading">
          Gestalte für<br>den Nutzer
        </h2>
      </header>
      <p class="card-graf card-graf-large-1">
        Wenn wir designen, steht immer das Nutzererlebnis im Vordergrund: Klare Formen sind ebenso wichtig wie durchdachte Navigation.
      </p>
      <p class="card-graf card-graf-large-2">
         <em>Dafür arbeiten wir exklusiv mit funktionierenden Prototypen, so dass Sie gleich sehen können, wie sich etwas verhält.</em>
      </p>
    </section>
    <section class="card card-large card-treasure">
      <header class="card-header">
        {{> treasureIcon}}
        <h2 class="card-heading">
          Entwickle für<br>das Gesamtkonzept
        </h2>
      </header>
      <p class="card-graf card-graf-large-1">
        Eine der wichtigsten Punkte unseres Angebots ist es, den Blickwinkel der User einzunehmen und so einen wertvollen Perspektivenwechsel anzubieten.
      </p>
      <p class="card-graf card-graf-large-2">
        <em>Jeder unserer Aufträge muss mit einem überzeugenden Konzept beginnen, ob wir es gemeinsam erarbeiten oder jemand Drittes dazu beiträgt.</em>
      </p>
    </section>
    <section class="card card-expand">
      <header class="card-header">
        {{> expandIcon}}
        <h2 class="card-heading">
          Designe<br>responsive
        </h2>
      </header>
      <p class="card-graf">
        Alle unsere Produkte sind von Grund auf <em>mobile first</em> konzipiert. Wir arbeiten nur auf dem Screen und mit statt gegen die Möglichkeiten des Web.
      </p>
    </section>
    <section class="card card-large card-puzzle">
      <header class="card-header">
        {{> puzzleIcon}}
        <h2 class="card-heading">
          Arbeite<br>iterativ
        </h2>
      </header>
      <p class="card-graf card-graf-large-1">
        Webseiten und Webapps können iterativ gestaltet werden, davon sollte man profitieren.
      </p>
      <p class="card-graf card-graf-large-2">
        <em>Entwicklungspläne mit Milestones und MVP-Launches: Damit ihre Kunden möglichst wenig coming soon-Seiten zu sehen kriegen.</em>
      </p>
    </section>
    <section class="card card-globe">
      <header class="card-header">
        {{> globeIcon}}
        <h2 class="card-heading">
          Produzier keine<br>Lock-in Effekte
        </h2>
      </header>
      <p class="card-graf">
        Wir arbeiten vornehmlich mit <em>open source</em>-Produkten, die sich der Unterstützung einer grossen Community erfreuen. Das spart Geld und garantiert gleichzeitig Qualität.
      </p>
    </section>
    <section class="card card-rocket">
      <header class="card-header">
        {{> rocketIcon}}
        <h2 class="card-heading">
          Nutze die optimale Technologie
        </h2>
      </header>
      <p class="card-graf">
        Wir gehen weite Wege, um mit den besten Technologien <em>für den anstehenden Job</em> zu arbeiten. Im Moment sind unsere Lieblinge <a href="https://angularjs.org/" target="_blank">Angular</a>, <a href="https://assemble.io/" target="_blank">Assemble</a>, <a href="https://www.meteor.com/" target="_blank">Meteor</a> und die Tools von <a href="https://roots.io/" target="_blank">Roots</a>.
      </p>
    </section>
    <section class="card card-carabiner">
      <header class="card-header">
        {{> ropeIcon}}
        <h2 class="card-heading">
          Zusammen sind<br>wir stärker
        </h2>
      </header>
      <p class="card-graf">
        Sie bringen das Wissen über ihr Business, wir werfen unser ganzes <em>Know-how</em> in die Waagschale. Braucht es noch Illustratoren/Texter? Jemanden für ein umfassenderes Konzept? Wir kennen da eine_n...
      </p>
    </section>
  </div>
</section>
