---
component: colophon
---
<footer class="colophon">
  <div class="colophon-container">
    <p class="colophon-line">Copyright 2017 Formwerdung</p>
    <a href="/impressum" class="colophon-line colophon-link">Impressum</a>
  </div>
</footer>
