---
component: hero
---
<section class="hero">
  <div class="hero-container">
    <h2 class="hero-byline">
      Sie wissen, wie sie sich <strong>online präsentieren möchten</strong>. Wir begleiten Sie mit unserem <strong>know-how</strong>: Unser Rezept für den <strong>perfekten Webauftritt</strong>.
    </h2>
  </div>
</section>
