---
component: hero
---
<section class="hero">
  <div class="hero-container">
    <h2 class="hero-byline">
      Wir gehen mit unseren Kunden den Weg zum <strong>optimalen Webauftritt</strong>. Dürfen wir auch Sie begleiten?
    </h2>
  </div>
</section>
