---
component: hero
---
<section id="js-top-element" class="hero">
  <div class="hero-container">
    <h2 class="hero-byline">
      Wir gehen mit unseren Kunden den Weg zum <strong>optimalen Webauftritt</strong>, sei es ein kleiner One-Pager oder eine grosse App.
    </h2>
  </div>
</section>
