---
component: hero
---
<section id="js-top-element" class="hero">
  <div class="hero-container">
    <h2 class="hero-byline">
      Egal ob einfache Seiten oder komplexe Apps. Wir gehen mit unseren Kunden den Weg zum <strong>optimalen Webauftritt</strong>. Dürfen wir auch SIe begleiten?
    </h2>
  </div>
</section>
