---
component: projects
---
<section id="js-projects" class="projects">
  <h1 class="section-title">
    Was wir schon gebaut haben
    <div class="section-subheading">Einige ausgewählte Projekte</div>
  </h1>

  <div class="project-staerkle">
    <article class="project-staerkle-copy">
      <h2 class="project-title">
        One-Pager: Franziska Staerkle
      </h2>
      <figure class="project-image">
        <img sc
      </figure>
      <p>
        Die Zürcher Illustratorin Franziska Staerkle brauchte eine Website, die ihrem Stil entspricht,
        ohne lange Entwicklungszeit oder aufwändige Pflege zu benötigen.
      </p>
      <p>
        Wir haben in Absprache mit ihr einen bunten one-pager (<em>backend-less</em>) erstellt,
        um ihre Zeichnungen gross in Szene zu setzen, effektiv den Kundenkontakt herzustellen
        und uns alle Ausbaumöglichkeiten offenzuhalten.
      </p>
      <footer>
        <a href="http://franziskastaerkle.ch" target="_blank">
          Zu franziskastaerkle.ch
        </a>
      </footer>
    </article>
    <a href="http://franziskastaerkle.ch" target="_blank">
      <div class="project-staerkle-device">
        <div class="project-staerkle-screen"></div>
      </div>
    </a>
  </div>

  <div class="project-baselgia">
    <article class="project-baselgia-copy">
      <h2 class="project-title">Portfolio: Guido Baselgia</h2>
      <p>
        Wie setzt man ein Lebenswerk in Szene? Man lässt es für sich selbst sprechen. Als Lichtzeichnungen
        versteht Guido Baselgias seine Fotografien (hat er uns beim ersten Meeting verraten).
      </p>
      <p>
        Wir nahmen seine Präferenz fürs Dunkle auf und haben wann immer das Werk selbst als dekoratives und
        strukturierendes Merkmal genommen. Exemplifiziert wird das in der mit Vollbild in Szene gesetzten Startseite und in den
        Werkkacheln, welche mit den neuesten CSS3-Features arbeiten.
      </p>
      <p>
        Gleichzeitig sorgen verschiedene AJAX-Komponenten für einen möglichst fliessenden Übergang. Zudem ist eine Seite
        enstanden, welche durch die CMS-Möglichkeiten von WordPress leicht aktuell zu halten ist.
      </p>
      <footer>
        <a href="http://baselgia.ch" target="_blank">
          Zu baselgia.ch
        </a>
      </footer>
    </article>
    <a href="http://baselgia.ch" target="_blank">
      <div class="project-baselgia-device">
        <div class="project-baselgia-screen"></div>
      </div>
    </a>
  </div>

  <div class="project-public-connect">
    <article class="project-public-connect-copy">
      <h2 class="project-title">
        Code-Consulting: public connect
      </h2>
      <p>
        Für public connect haben wir nur ganz wenig geholfen. Im <em>consulting</em> auf Stundenbasis haben
        wir JavaScript geliefert, welches das Resortieren und Anordnen der Kacheln übernimmt. Hashing-Funktionen
        helfen zudem, dass der Vor- und Zurück-Button des Browsers nicht nutzlos werden.
      </p>
      <p>
        Das fantastische Kachel-Design stammt von <a href="http://formbaur.ch" target="_blank">FormBaur.</a>
      </p>
      <footer>
        <a href="http://public-connect.ch" target="_blank">
          Zu public-connect.ch
        </a>
      </footer>
    </article>
    <a href="http://public-connect.ch" target="_blank">
      <div class="project-public-connect-device">
        <div class="project-public-connect-screen"></div>
      </div>
    </a>
  </div>

</section>
