---
component: projects
---
<section id="js-projects" class="portfolio">
  <h1>Ausgewählte Projekte</h1>
  <article class="project-baselgia">
    <p>
      Some really sick clients
    </p>

    <div class="device">
      <div class="screen"></div>
    </div>
  </article>
  <article>
  </article>
</section>
