---
component: projects
---
<section id="js-projects" class="projects">
  <h1 class="section-title">
    Was wir schon gebaut haben
    <div class="section-subheading">Einige ausgewählte Projekte</div>
  </h1>

  <div class="project-staerkle">
    <article class="project-staerkle-copy">
      <h2 class="project-title">
        One-Pager Franziska Staerkle
      </h2>
      <p>
        Die Zürcher Illustratorin Franziska Staerkle brauchte eine Website, die ihrem Stil entspricht,
        ohne lange Entwicklungszeit oder aufwändige Pflege zu benötigen.
      </p>
      <p>
        Wir haben in Absprache mit ihr einen bunten one-pager (<em>backend-less</em>) erstellt,
        um ihre Zeichnungen gross in Szene zu setzen, effektiv den Kundenkontakt herzustellen
        und uns alle Ausbaumöglichkeiten offenzuhalten.
      </p>
      <footer>
        <a href="http://franziskastaerkle.ch" target="_blank">
          Zu franziskastaerkle.ch
        </a>
      </footer>
    </article>
    <a href="http://franziskastaerkle.ch" target="_blank">
      <div class="project-staerkle-device">
        <div class="project-staerkle-screen"></div>
      </div>
    </a>
  </div>

  <article class="project-baselgia">
    <h2 class="project-title">Portfolio Guido Baselgia</h2>
    <p>
      Some really sick clients
    </p>
    <a href="http://baselgia.ch" target="_blank">
      <div class="project-baselgia-device">
        <div class="project-baselgia-screen"></div>
      </div>
    </a>
  </article>

  <article class="project-public-connect">
    <h2 class="project-title">
      Code-Consulting: public connect
      <div class="project-subheading">Huge f*ing publishing platform</div>
    </h2>
    <p>
      Für public connect haben wir bei der Entwicklung ihrer neuen Webseite konsultiert. Während der
      meiste Code bereits in guten Händen war, haben wir speziell JavaScript-Funktionen
    </p>
    <p>
      Das fantastische Kachel-Design stammt von <a href="http://formbaur.ch" target="_blank">FormBaur.</a>
    </p>
    <a href="http://public-connect.ch" target="_blank">
      <div class="project-public-connect-device">
        <div class="project-public-connect-screen"></div>
      </div>
    </a>
  </article>

</section>
