/**
 * Vars
 */
$base-color: #080401;
$base-border-color: transparentize($base-color, 0.8);
$base-background-color: #fffffe !default;
$action-color: #1565c0;
$secondary-background-color: shade($base-background-color, 2%);

$base-border: 1px solid $base-border-color;
$base-border-radius: 3px;

$base-form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$base-form-box-shadow-focus: $base-form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);


// Settings
$md-screen: 44rem; // 1 + 16 + 1 + 16 + 1 // 630 / 18 = 35 // 630 / 16 = 39.375
$lg-screen: 60rem; // 2 + 16 + 2 + 16 + 2 + 16 + 2 // 1134 / 20.25 = 56 // 1134 / 16 = 70.875
$xl-screen: 80rem;

$md-container: 42rem; // 1 + 16 + 1 + 16 + 1
$lg-container: 58rem; // 2 + 16 + 2 + 16 + 2
$xl-container: 78rem;

$base-wrapping-space: 1em;

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
$font-family-base: $font-family-sans-serif;

$base-multiplier:     1.125;
$base-font-size:      1em;
$base-font-size-md:   $base-multiplier * $base-font-size;
$base-font-size-lg:   $base-multiplier * $base-font-size-md;
$base-font-size-xl:   $base-multiplier * $base-font-size-lg;

$max-width: 100em;

$base-line-height: 1.4;
$base-font-family:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Linux
  "Oxygen", // KDE
  "Ubuntu",
  "Cantarell", // GNOME
  // Firefox OS [R.I.P.]
  "Fira Sans",
  // Older Android
  "Droid Sans",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif !default;

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Z-Indices
$banner-z-index: 300;
