---
title: Impressum | Responsive Webapps und Webseiten aus Zürich
slug: impressum
lang: de
translation:
metaDescription: Credits und Verantwortlichkeiten für die Webseite formwerdung.ch
---
<article id="js-top-element" class="imprint">
  <div class="imprint-container">
    <h1 class="section-title">Impressum</h1>
    <addr>
      Formwerdung<br>
      Marin Aeschbach<br>
      Nordstrasse 116<br>
      8037 Zürich
    </addr>
    <h2 class="imprint-intertitle">Credits</h2>
    <ul>
      <li>Das Formwerdung Logo wurde designed von Zoé Blanc.</li>
      <li>Carabiner Icon by <a href="https://thenounproject.com/deivid.saenz/" target="_blank">Deivid Saenz via Noun Project.</a></li>
      <li>Diamond Icon by <a href="https://thenounproject.com/Ryaaaan/" target="_blank">Ryan Beck via Noun Project.</a></li>
      <li>Expand Icon by <a href="https://thenounproject.com/aathis/" target="_blank">Karthik Aathis via Noun Project.</a></li>
      <li>Globe Icon by <a href="https://thenounproject.com/Milky/" target="_blank">Milky - Digital Innovation via Noun Project.</a></li>
      <li>Puzzle Icon by <a href="https://thenounproject.com/ralfschmitzer/" target="_blank">Ralf Schmitzer via Noun Project</a></li>
      <li>Snowflake Icon by <a href="https://thenounproject.com/leemette" target="_blank">Lee Mette via Noun Project.</a></li>
      <li>Space Ship Icon by <a href="https://thenounproject.com/newhaircut/" target="_blank">New Haircut via Noun Project.</a></li>
      <li>Treasure Map Icon by <a href="https://thenounproject.com/Lloyd/" target="_blank">Lloyd Humphreys via Noun Project.</a></li>
    </ul>
    <h2 class="imprint-intertitle">Haftungsausschluss und Copyright</h2>
    <p>
      Eine Haftung für die Richtigkeit der Angaben, Daten und Links wird nicht übernommen. Links zu Inhalten Dritter werden als Service bereitgestellt. Für diese Inhalte sind deren Betreiber verantwortlich. Diese Website und alle dazugehörigen Texte, Grafiken und andere Materialien sind urheberrechtlich geschützt. Jegliche Verwendung ohne vorherige schriftliche Zustimmung ist nicht gestattet.
    </p>
  </div>
</article>

{{> contact }}
