---
title: Home
slug:
lang: de
translation:
---
<section class="hero jumbotron jumbotron-fluid">
  <figure class="hero-img">
    {{> fullscreenImage file="franziska-staerkle-wal" ext="jpg" alt="Wal von Franziska Staerkle" class=""}}
  </figure>
  <div class="hero-container container">
    <h1 class="display-1">Hello!</h1>
    <p class="lead">Herzlich Willkommen auf unserer Homepage! Dieser Text lädt sie hoffentlich dazu ein, diese Website zu erkunden.</p>
  </div>
</section>

<div class="container">
  <div class="row">
    {{> card title="Hier"}}
    {{> card title="Sind"}}
    {{> card title="Sekundäre"}}
    {{> card title="Informationen"}}
    {{> card title="Gelistet"}}
    {{> card title="Yeah!"}}
  </div>
</div>
