---
title: Home
slug:
lang: de
translation:
---
<section class="hero">
  <figure class="hero-img">
    {{> fullscreenImage file="franziska-staerkle-wal" ext="jpg" alt="Wal von Franziska Staerkle" class=""}}
  </figure>
  <div class="hero-container">
    <h2 class="hero-byline">
      Sie wissen, wie sie sich <strong>online präsentieren möchten</strong>. Wir begleiten Sie mit unserem <strong>know-how</strong>: Unser Rezept für den <strong>perfekten Webauftritt</strong>.
    </h2>
  </div>
</section>

<div class="cards">
  <div class="container">
    {{> card title="Hier"}}
    {{> card title="Sind"}}
    {{> card title="Sekundäre"}}
    {{> card title="Informationen"}}
    {{> card title="Gelistet"}}
    {{> card title="Yeah!"}}
  </div>
</div>
