---
title: Home
slug:
lang: de
translation:
---
{{> hero }}

{{> cards }}

<section class="portfolio">
  <h2>Projekte</h2>
  <article class="project-baselgia">
    <p>
      Some really sick clients
    </p>

    <div class="device">
      <div class="screen"></div>
    </div>
  </article>
  <article>
  </article>
</section>

{{> contact }}
