/**
 * Tags
 */
body {
  background: $base-background-color;
  font-family: $base-font-family; // 'Noto Serif', serif;
  font-size: $base-font-size;
  font-style: normal;
  font-weight: normal;
  line-height: $base-line-height;
  scroll-behaviour: smooth;
  @include position;
}

@include media($md-screen) {
  body {
    font-size: $base-font-size-md;
  }
}

@include media($lg-screen) {
  body {
    font-size: $base-font-size-lg;
  }
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 150ms ease;

  &:active,
  &:focus,
  &:hover {
    color: $base-color;
  }
}
