/**
 * Vars
 */
// Colors
$banner-color: $base-color;
$banner-hover-color: $action-color;
$banner-background-color: $base-background-color;

// Copy
$banner-font-size: 1em;

// Sizing
$banner-height: 3em;
$banner-logo-pdg: 0.5em $base-wrapping-space;
$banner-nav-item-link-pdg: 1em 0.5em;
$banner-nav-item-link-latest-pdg: null $base-wrapping-space null null;


/**
 * Mixins
 */
@mixin logo {
  @include padding($banner-logo-pdg);
  height: 100%;
}


/**
 * Classes
 */
.banner {
  line-height: 1;
  background: $banner-background-color;
  @include size(100%, $banner-height);
  @include position(fixed, 0 null null 0);
  z-index: $banner-z-index;
}

.banner-container {
  @include container;
  display: flex;
  justify-content: space-between;
}

.banner-brand { // these are h1 resets
  font-size: $banner-font-size;
  height: $banner-height;
  @include margin(0 null);
}

.banner-logo-small {
  @include logo;

  @include media($md-screen) {
    display: none;
  }
}

.banner-logo-large {
  @include logo;
  display: none;

  @include media($md-screen) {
    display: block;
  }
}

.banner-logo-icon {
  height: 100%;
}

.banner-logo-icon-group {
  stroke: none;
  fill: none;
  fill-rule: evenodd;
}

.banner-logo-icon-o-fill,
.banner-logo-icon-r-fill,
.banner-logo-icon-w,
.banner-logo-icon-e,
.banner-logo-icon-r,
.banner-logo-icon-d,
.banner-logo-icon-u,
.banner-logo-icon-n,
.banner-logo-icon-g,
.banner-logo-icon-sigil-top-fill,
.banner-logo-icon-sigil-middle-fill,
.banner-logo-icon-sigil-bottom-fill,
.banner-logo-icon-square {
  fill: $banner-color;
}

.banner-nav-container {
  display: flex;
}

.banner-nav-item {

  &:last-child {

    .banner-nav-item-link {
      @include padding($banner-nav-item-link-latest-pdg);
    }
  }
}

.banner-nav-item-link {
  color: $banner-color;
  text-decoration: none;
  @include padding($banner-nav-item-link-pdg);
  display: inline-block;

  &:active,
  &:focus,
  &:hover {
    color: $banner-hover-color;
  }
}
