/**
 * Vars
 */
// Colors
$hero-background-color: rgba(255, 255, 255, 0.6);

// Copy
$hero-font-size: 1.25em;

// Spacing
$hero-height: 45vh;
$hero-pdg: null $base-wrapping-space;
$hero-offset-top: $banner-height;
$hero-container-width-md: 35rem;
$hero-container-width-lg: 41rem;
$hero-byline-pdg: 0.5em;


/**
 * Classes
 */
.hero {
  background: url('../images/bg.png') center center;
  background-size: cover;
  height: $hero-height;
  @include padding($hero-pdg);
  // @include margin($hero-offset-top null null null);
  display: flex;
}

.hero-container {
  @include container;
  margin: auto;

  @include media($md-screen) {
    width: $hero-container-width-md;
  }

  @include media($md-screen) {
    width: $hero-container-width-lg;
  }
}

.hero-byline {
  font-size: $hero-font-size;
  font-weight: normal;
  background: $hero-background-color;
  @include padding($hero-byline-pdg);
  @include margin(0 null);
}
