/**
 * Vars
 */
// Colors
$project-color: $base-color;
$project-device-border-color: $base-border-color;
$project-device-background-color: $base-background-color;

// Deco
$project-device-border: $base-border;
$project-gradient-angle: 10deg;
$project-baselgia-device-screen-image: "../images/screencap-baselgia.png";
$project-staerkle-device-screen-image: "../images/screencap-staerkle.png";
$project-public-connect-device-screen-image: "../images/screencap-public-connect.png";

// Spacing
$project-baselgia-device-padding-vertical: 2rem;
$project-baselgia-device-padding-horizontal: 1.5rem;
$project-baselgia-device-screen-width: 30rem;
$project-baselgia-device-screen-height: 40rem;
$project-staerkle-device-padding-vertical: 1.5rem;
$project-staerkle-device-padding-horizontal: 1rem;
$project-staerkle-device-screen-width: 27rem;
$project-staerkle-device-screen-height: 18rem;
$project-public-connect-device-padding-vertical: 6rem;
$project-public-connect-device-padding-horizontal: 0.4rem;
$project-public-connect-device-screen-width: 20rem;
$project-public-connect-device-screen-height: 30rem;


/**
 * Mixins
 */
@mixin device {
  display: none;
  position: relative;

  @include media($lg-screen) {
    background: $project-device-background-color;
    border-radius: 2em;
    border: $project-device-border;
    box-shadow:
      13px 0 $project-device-background-color,
      14px 0 $project-device-border-color;
    display: block;
    transform:
      perspective(800px)
      translateX(0)
      translateY(-100px)
      translateZ(50px)
      rotateX(0)
      rotateZ(0)
    ;
  }
}

@mixin screen {
  background-size: cover;
  border-radius: 0.2em;
  border: $project-device-border;
  margin: auto;
}


/**
 * Classes
 */
.projects {
  @include container;
  @include padding(5em 1em);
  @include position;
  min-height: 90em;
}

.project-title {
  @include margin(4em null 0 null);
}

.project-subheading {
  color: tint($project-color, 50%);
  font-size: 0.5em;
}

.project-staerkle-copy {

  @include media($lg-screen) {
    padding-right: 23em;
  }
}

.project-staerkle-device {
  @include device;
  top: -14em;

  @include media($lg-screen) {
    float: right;
    box-shadow:
      13px 0 $project-device-background-color,
      14px 0 $project-device-border-color;
    padding: $project-staerkle-device-padding-vertical 0;
    width: $project-staerkle-device-screen-width + (2 * $project-staerkle-device-padding-horizontal);
    transform:
      perspective(800px)
      translateX(0)
      translateY(-100px)
      translateZ(50px)
      rotateX(0)
      rotateY(-20deg)
      rotateZ(0)
    ;
    z-index: 220;
  }
}

.project-staerkle-screen {
  @include size($project-staerkle-device-screen-width, $project-staerkle-device-screen-height);
  background: url($project-staerkle-device-screen-image) no-repeat;
  @include screen;
}

.project-baselgia-device {
  @include device;

  @include media($lg-screen) {
    box-shadow:
      -13px 0 $project-device-background-color,
      -14px 0 $project-device-border-color;
    float: right;
    @include padding($project-baselgia-device-padding-vertical 0);
    width: $project-baselgia-device-screen-width + (2 * $project-baselgia-device-padding-horizontal);
    transform:
      perspective(800px)
      translateX(0)
      translateY(-100px)
      translateZ(50px)
      rotateX(0)
      rotateY(15deg)
      rotateZ(0)
    ;
    z-index: 210;
  }
}

.project-baselgia-screen {
  @include size($project-baselgia-device-screen-width, $project-baselgia-device-screen-height);
  background: url($project-baselgia-device-screen-image) no-repeat;
  @include screen;
}

.project-public-connect-device {
  @include device;

  @include media($lg-screen) {
    box-shadow:
      -13px 0 $project-device-background-color,
      -14px 0 $project-device-border-color;
    float: right;
    @include padding($project-public-connect-device-padding-vertical 0);
    width: $project-public-connect-device-screen-width + (2 * $project-public-connect-device-padding-horizontal);
    transform:
      perspective(800px)
      translateX(0)
      translateY(-100px)
      translateZ(50px)
      rotateX(0)
      rotateY(15deg)
      rotateZ(0)
    ;
    z-index: 200;
  }
}

.project-public-connect-screen {
  @include size($project-public-connect-device-screen-width, $project-public-connect-device-screen-height);
  background: url($project-public-connect-device-screen-image) no-repeat;
  @include screen;
}
