// bower:scss
@import "../../bower_components/bourbon/core/_bourbon.scss";
@import "../../bower_components/neat/app/assets/stylesheets/_neat.scss";
// endbower

$base-color: #080401;
$base-background-color: #fffefc !default;
$base-border-radius: 3px;

// Settings
$md-screen: 39.375rem; // 1 + 16 + 1 + 16 + 1 // 630 / 18 = 35 // 630 / 16 = 39.375
$lg-screen: 70.875rem; // 2 + 16 + 2 + 16 + 2 + 16 + 2 // 1134 / 20.25 = 56 // 1134 / 16 = 70.875
$xl-screen: 75em;

$md-container: 33em; // 1 + 16 + 1 + 16 + 1
$lg-container: 52em; // 2 + 16 + 2 + 16 + 2


$sm-mgn: 0.5em;
$md-mgn: 1em;
$lg-mgn: 2em;
$xl-mgn: 4em;

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
$font-family-base: $font-family-sans-serif;

$multiplier:     1.125;
$font-size-base: 1em;
$font-size-md:   $multiplier * $font-size-base;
$font-size-lg:   $multiplier * $font-size-md;
$font-size-xl:   $multiplier * $font-size-lg;

$max-width: 100em;

// Turn on responsive font
body {
  font-family: 'Noto Serif', serif;
  font-size: $font-size-base;
  font-style: italic;
  font-weight: normal;
}

@include media($md-screen) {
  body {
    font-size: $font-size-md;
  }
}

@include media($lg-screen) {
  body {
    font-size: $font-size-lg;
  }
}

@include media($xl-screen) {
  body {
    font-size: $font-size-xl;
  }
}

a {
  text-decoration: none;
}

@import "masthead";


// Utilities
.fullscreen-img {
  width: 100%;
  @include position(absolute, 0 null null 0);
}

.container {

  @include media($md-screen) {
    width: $md-container;
    @include margin(null auto);
  }

  @include media($lg-screen) {
    width: $lg-container;
  }
}

// Components
.hero,
.hero-container {
  position: relative;
}

.hero {
  background: url('../images/franziska-staerkle-wal.jpg');
  background-size: cover;
  @include padding(4em $sm-mgn);
}

.hero-container {
  @extend .container;
  z-index: 200;
}

.hero-img {
  @include size(100%);
  @include position(absolute, 0 null null 0);
  margin: 0;
  overflow: hidden;

  &::before {
    content: ' ';
    background: rgba(0, 0, 0, 0.3);
    @include size(100%);
    @include position(absolute, 0 null null 0);
    z-index: 100;
  }
}

.hero-byline {
  font-size: 1.25em;
  font-weight: normal;
  background: rgba(255, 255, 255, 0.4);
  @include padding($sm-mgn);
  @include margin(0 null);
}

.cards {
  // flex-direction: column;
  @include padding($sm-mgn);
}

.cards-container {
  @extend .container;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  color: $base-color;
}

.card-icon-wrapper {
  // background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 3em;
  height: 3em;
  // @include margin(null auto);
  float: left;
}

.card-copy {
  @include margin(null null null 3.5em);
}

.card-title {
  font-size: 1.125em;
  border-bottom: 2px solid #026063;
  @include padding(0.5em 1em 0.5em null);
  @include margin(0 null 0.5em null);
  float: left;
}

// .card {
//   $card-border-color: #fffefc;
//   $card-border: 1px solid $card-border-color;
//   $card-background: lighten($card-border-color, 10%);
//   $card-header-background: $card-background;
//   $card-margin: 1em;
//   $card-image-hover-opacity: 0.7;
//   $card-image-hover-color: #F8F2B4;
//
//   color: $base-color;
//   text-decoration: none;
//   background: $card-background;
//   border: $card-border;
//   border: 1px solid #e7dfcc;
//   border-radius: 3px;
//   box-shadow: 0 2px 4px shade($base-background-color, 10%);
//   width: 100%;
//   // @include padding(1em);
//   @include margin(null null 1em null);
//
//   @include media($md-screen) {
//     width: 16em;
//   }
//
//   .card-image {
//     background-color: $card-image-hover-color;
//     height: 150px;
//     max-height: 150px;
//     overflow: hidden;
//
//     img {
//       @include border-top-radius($base-border-radius);
//       opacity: 1;
//       transition: all 0.2s ease-in-out;
//       width: 100%;
//     }
//   }
//
//   .card-header {
//     background-color: $card-header-background;
//     border-bottom: $card-border;
//     border-radius: $base-border-radius $base-border-radius 0 0;
//     font-weight: bold;
//     @include padding(1em);
//   }
//
//   .card-copy {
//     line-height: 1.5;
//     padding: 1em;
//
//     p {
//       margin: 0;
//     }
//   }
//
//   &:focus,
//   &:hover {
//     cursor: pointer;
//
//     img {
//       opacity: $card-image-hover-opacity;
//     }
//   }
//
//   &:active {
//     background-color: $card-background;
//
//     .card-header {
//       background-color: $card-background;
//     }
//   }
// }
